* {
    box-sizing: border-box;
}

body {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("gandalf_vs_balrog.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	top: 0;
	bottom: 0;
	height: 95vh;
}

.float-left {
	float: left;
}

.width-fifty-percent {
	width: 50%;
}

h1 {
	font-family: 'Germania One', cursive;
	color: red;
	font-size: 45px;
}

.padding-left {
	padding-left: 50px;
}

#start-container {
	font-size: 16px;
	clear: left;
}

#main {
	clear: left; /*stack everything to the left side of container*/
	font-size: 14px;
}

#right-container {
	padding-right: 50px;
}

.hidden-on-page-load {
	display: none;
}

button {
	font-family: 'Cinzel', serif;
	font-size: inherit;
	border-radius: 1px;
	padding: 4px 8px;
}

form {
	width: 79%;
}

.opacity-background {
	display: none;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
	font-family: 'Cinzel', serif;
}

.red-border-treatment {
	border-style: double;
	border-width: 7px;
	border-color: #b93032;
}

legend {
	font-size: 20px;
	color: #b93032;
}

.form-edit-butns-bottom {
	padding-top: 10px;
	padding-left: 2px;
}

.overflow-scroller {
	max-height: 65vh;
	overflow: auto;
}

.margin-right {
	margin-right: 20px;
}

.initiative-input, .enemy-count {
	padding: 6px 0px 6px 4px;
}

.tool-tip {
	font-size: 12px;
	margin: 0px;
}












